/* *********************************************************************************************************** */
/* *********************************************** PAGE CART ************************************************* */
/* *********************************************************************************************************** */

.table-responsive a:not(.au_red) {
    text-decoration: none;
    color: black;
}

#panier td .main_form {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:500px) {
    #panier td .main_form {
        display: initial;
    }
}